Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper (>= 7), automake, libtool
XCS-Cross-Host-Build-Depends: debhelper (>= 7), cdbs, cdbs-embedded, automake, libtool, autoconf
Priority: optional
Section: core
Standards-Version: 3.8.0
Source: libmpdclient

Package: libmpdclient0
Priority: optional
Section: core
Architecture: any
Depends: ${shlibs:Depends}
Description: Simple client library for MPD

Package: libmpdclient-dev
Priority: optional
Section: core
Architecture: any
Depends: libmpdclient0 (= ${binary:Version})
Description: Simple client library for MPD -- development files

Package: libmpdclient0-dbg
Priority: optional
Section: core
Architecture: any
Depends: libmpdclient0 (= ${binary:Version})
Description: Simple client library for MPD -- debug symbols
